button {
  font-family: 'Poppins';
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 10px;
}

select, input, textarea {
  font-size: 15px;
  font-family: 'Poppins';
}

#sign-up {
  font-size: 15px;
  text-decoration: underline;
  color: purple;
}

#intro {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}