<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to your Admin dashboard {{name}}!</h1>
    <ul>
      <li><a href="/all-events">All Events</a></li>
      <li><a href="/prizes">Prizes</a></li>
      <li><a href="/quarter-winner">Quarter Winner</a></li>
      <li><a href="/grade-leaderboard">Grade Leaderboard</a></li>
      <li><a href="/student-leaderboard">Student Leaderboard</a></li>
    </ul>

    <ul>
      <li><a href="/add-event">Add Event</a></li>
      <li><a href="/change-prizes">Change Prizes</a></li>
      <li><a href="/reset-student-leaderboard">Reset Student Leaderboard</a></li>
      <li><a href="/report">End of Quarter Report</a></li>
    </ul>

    <p>Reset Grade Leaderboard</p>
    <form action="/reset-grade-leaderboard" method="POST">
      <select name="grade">
        <option value="9">9th</option>
        <option value="10">10th</option>
        <option value="11">11th</option>
        <option value="12">12th</option>
      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>