<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css">
    <title>Change Prizes</title>
  </head>
  <body style="font-family: Poppins; font-size: 20px">
    <h2>Add Prize</h2>
    <form action="/add-prize" method="POST">
      <div class="prize">
        <label for="prize">Prize: </label>
        <input type="text" name="prize">
      </div>
      
      <div class="points">
        <label for="points">Prize Points Threshold: </label>
        <input type="number" name="points">
      </div>

      <div class="category">
        <label for="category">Prize Category: </label>
        <select name="category">
          <option value="school">School Reward</option>
          <option value="food">Food Reward</option>
          <option value="spirit">School Spirit Item</option>
          <option value="other">Other</option>
        </select>
      </div>

      <button type="submit">Add Prize</button>
    </form>

    <h2>Replace Existing Prize</h2>
    <form action="/replace-prize" method="POST">
      <div class="original-prize">
        <label for="original-prize">Original Prize: </label>
        <input type="text" name="original-prize">
      </div>

      <div class="new-prize">
        <label for="new-prize">New Prize: </label>
        <input type="text" name="new-prize">
      </div>
      
      <div class="points">
        <label for="points">Prize Points Threshold: </label>
        <input type="number" name="points">
      </div>

      <div class="category">
        <label for="category">Prize Category: </label>
        <select name="category">
          <option value="school">School Reward</option>
          <option value="food">Food Reward</option>
          <option value="spirit">School Spirit Item</option>
          <option value="other">Other</option>
        </select>
      </div>

      <button type="submit">Replace Prize</button>
    </form>
  </body>
</html>