<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Leaderboard</title>
  </head>
  <body>
    <h1>Grade Leaderboard</h1>
    <form action="/grade-leaderboard" method="POST">
      <label for="grade-selection">Choose grade: </label>
      <select name="grade-selection">
        <option value="9">9th</option>
        <option value="10">10th</option>
        <option value="11">11th</option>
        <option value="12">12th</option>
      </select>

      <button type="submit">Submit</button>
    </form>

    <ol style="font-size: 20px">
      {% for student in leaderboard %}
        <li style="margin-bottom: 20px">{{student[0]}}: {{student[1]}} points</li>
      {% endfor %}
    </ol>
  </body>
</html>