<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Importing Inter Font -->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  </head>
  <body>
    <form action="/login" method="POST" id="login">
      <div id="email">
        <label for="email">Admin email: </label>
        <input type="text" name="email" placeholder="Email Address">
      </div>

      <div id="password">
        <label for="password">Admin password: </label>
        <input type="password" name="password" placeholder="Password">
      </div>

      <button type="submit">Login</button>
    </form>
  </body>
</html>