<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Past Events</title>
  </head>
  <body>
    <form action="/past-events" method="POST">
      {% for i in range(events|length) %}
        <div>
          <p>{{events[i]}}</p>
          <select name="events{{i}}">
            <option value="yes">Participated</option>
            <option value="no">Did Not Participate</option>
            <option value="no">Already Submitted Previously</option>
          </select>
        </div>
      {% endfor %}
      <button type="submit">Submit</button>
    </form>
  </body>
</html>