<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Past Events</title>
  </head>
  <body>
    <form action="/past-events" method="POST">
      {% for i in range(events|length) %}
        <div>
          <p>{{events[i]}}</p>
          <input type="radio" id="participated" name="events{{i}}" value="yes">
          <label for="participated">Participated</label><br>

          <input type="radio" id="not-participated" name="events{{i}}" value="no">
          <label for="not-participated">Did Not Participate</label><br>

          <input type="radio" id="already-submitted" name="events{{i}}" value="no">
          <label for="already-submitted">Already Submitted Previously</label><br>
        </div>
      {% endfor %}
      <button type="submit">Submit</button>
    </form>
  </body>
</html>