<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quarterly Report</title>
  </head>
  <body>
    <h1>Quarterly Report</h1>
    <hr>
    <hr>

    {% if end %}
      <h3>9th: {{data[0]}} points/student</h3>
      <h3>10th: {{data[1]}} points/student</h3>
      <h3>11th: {{data[2]}} points/student</h3>
      <h3>12th: {{data[3]}} points/student</h3>
    {% endif %}
    <h2>Days until the end of the quarter: {{days_left}}</h2>
  </body>
</html>