<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap" rel="stylesheet">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/main.css">

    <!-- Importing Inter Font -->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  </head>
  <body style="font-family: Poppins; font-size: 20px">
    <h1>Student Sign Up</h1>

    <form action="/student-signup" method="POST" id="login">
      <div id="name">
        <label for="name">Enter your full name: </label>
        <input type="text" name="name" placeholder="Teddy Dong">
      </div>

      <div id="email">
        <label for="email">Enter school email: </label>
        <input type="text" name="email" placeholder="Email Address">
      </div>

      <div id="password">
        <label for="password">Enter Student ID number: </label>
        <input type="password" name="password" placeholder="Password">
      </div>

      <div id="grade">
        <label for="grade">Choose grade: </label>
        <select name="grade">
          <option value="9">9th</option>
          <option value="10">10th</option>
          <option value="11">11th</option>
          <option value="12">12th</option>
        </select>
      </div>

      <button type="submit">Sign Up</button>
    </form>

    <a href="/student-login">Student Login</a>

    {% if repeat == True %}
      <p>The email address provided is already being used.</p>
    {% endif %}
    </body>
</html>